<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/components/status-page.css">
</head>
<body>
    <div class="x">
        <div class="form-closed-container">
            <div class="form-closed-container-header"></div>
            <div class="form-closed-container-content">
                <h1>You've already responded</h1>
                <p>You can fill out this form only once.</p>
                <p>Try contacting the owner of the form if you think this is a mistake.</p>
            </div>
            
        </div>
        <div class="footer">
            <p>This form was created inside of Saint Louis University, Inc.<br>
            Does this form look suspicious? <a href="#">Report</a></p>
        </div>
    </div>
</body>
</html>