<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Survey</title>
  <link rel="stylesheet" href="/resources/css/student-survey.css">
  <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
<!-- Navbar -->
<nav>
  <div class="flex-container v-align-center">
    <img src="/resources/images/male_user.png" alt="" class="img-2-per">
    <p class="color-white txt-l bold">Hello, username</p>
  </div>
</nav>
<main>
  <div class="flex-container h-align-center" id="survey-form">
    <form action="" method="post" id="form">
      <div class="flex-container h-align-center" id="title">
      </div>
    </form>
  </div>


</main>
<!-- Link to External JavaScript -->
<script src="/resources/js/student-survey.js"></script>

</body>
</html>