<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Dashboard</title>
  <link rel="stylesheet" href="../css/student-homepage.css">
</head>
<body>
<header>
  <nav class="header-container">
    <div class="user-info">
      <span class="user-icon"><img src="../images/male_user.png" class="user-icon-image"></span>
      <span class="welcome-text">Welcome, User!</span>
    </div>
    <!-- Default to logout -->
    <form action="/session/logout" method="POST" id="logout-form">
      <input type="hidden" name="_method" value="DELETE">
      <button id="logout-button">Logout</button>
    </form>
  </nav>
</header>

<main>
  <div class="controls">
    <label for="survey-filter"></label>
    <select id="survey-filter" class="styled-dropdown">
      <option value="all">All Surveys</option>
      <option value="completed">Completed Surveys</option>
      <option value="missed">Missed Surveys</option>
      <option value="hidden">Hidden Surveys</option>
    </select>

    <input type="text" id="search-input" class="search-bar" placeholder="Search">
    <button id="search-button" class="search-button"><img src="../images/Search.png" class="search-icon-img"></button>
  </div>

  <div class="survey-list" id="survey-list">
    <!-- Surveys will be dynamically loaded here -->
  </div>
</main>

<script src="../js/student-homepage.js"></script>
</body>
</html>
