<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link  href="/static/css/style.css" rel="stylesheet">
    <link  href="/static/css/admin-profile-changepass.css" rel="stylesheet">
    <link  href="/static/css/nav-bar.css" rel="stylesheet">
    <link  href="/static/css/side-bar.css" rel="stylesheet">
    <script defer src="/static/js/side-bar.js"></script>

</head>
<body>

<!-- Navbar -->
<header class="navbar">
    <button aria-label="Toggle Sidebar" id="sidebarToggle">☰</button>
    <img alt="Profile" height="30" src="/static/images/male_user.png" width="30">
</header>

<!-- Sidebar and main content container -->
<div class="sidebar-container">
    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <a href="/admin">
            <img src="/static/images/home_icon.png" alt="Home Icon"> Home
        </a>
        <a href="/admin/create">
            <img src="/static/images/create_icon.png" alt="Create Icon"> Create
        </a>
        <a href="/admin/surveys">
            <img src="/static/images/view_icon.png" alt="View Icon"> View
        </a>
        <a href="/admin/respondents">
            <img src="/static/images/respondents_icon.png" alt="Respondents Icon"> Respondents
        </a>
        <a href="/admin/profile" class="active">
            <img src="/static/images/male_user.png" alt="Profile Icon"> Profile
        </a>
    </nav>

    <main>
        <div class="flex-container row">
            <img src="http://localhost:2020/upload-download/image/2233915" alt="Profile Icon" id="profile-icon">
            <h2>Mark Lestat Agustin</h2>
        </div>
        <div class="flex-container">
            <div class="password-box">
                <h3>Change Password</h3>
                <form id="form">
                    <label for="old_password" class="color-white">Old Password</label>
                    <input type="password" name="old_password" id="old_password" class="password-input" placeholder="Enter old password" required>

                    <label for="new_password" class="color-white">New Password</label>
                    <input type="password" name="new_password" id="new_password" class="password-input" placeholder="Enter new password" required>

                    <button class="save-button" id="save_button">Save</button>
                </form>
            </div>
            <a href="/admin/profile" class="back-button">Back</a>
        </div>
    </main>
</div>
<script src="/static/js/admin-change-password.js" defer></script>
<script src="/static/js/survey-navbar.js"></script>
</body>
</html>