<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin-view-questions.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
    <link rel="stylesheet" href="/static/css/side-bar.css">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <button onclick="toggleSidebar()">☰</button>
    <img src="/static/images/male_user.png" alt="Profile" width="30" height="30">
</div>

<!-- Sidebar and main content container -->
<div class="sidebar-container">
    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <a href="#">
            <img src="/static/images/home_icon.png" alt="Home Icon"> Home
        </a>
        <a href="#">
            <img src="/static/images/create_icon.png" alt="Create Icon"> Create
        </a>
        <a href="#" class="active">
            <img src="/static/images/view_icon.png" alt="View Icon"> View
        </a>
        <a href="#">
            <img src="/static/images/respondents_icon.png" alt="Respondents Icon"> Respondents
        </a>
        <a href="#">
            <img src="/static/images/male_user.png" alt="Profile Icon"> Profile
        </a>
    </nav>
    <!-- Main Content -->
    <main>
        <div class="tab-container">
            <ul class="tabs">
                <a href="/admin/dashboard/survey/questions" class="active" onclick="openTab('questions')">Questions</a>
                <a href="/admin/dashboard/survey/responses" onclick="openTab('responses')">Responses</a>
            </ul>
        </div>
        <div class="survey-container">
            <div class="flex-container v-align-center" id="title">
            </div>
            <p id="survey-publish-date"></p>
            <p id="survey-expiration-date"></p>
            <p id="survey-respondents"></p>
            <div class="flex-container h-align-center" id="survey-form">
                <form action="" method="post" id="form">
                </form> <!--I got this block of code from student-survey.html from geb's page-->
            </div>
        </div>
        <div>
            <button class="back-button" id="back_button">Back</button>
        </div>
    </main>
</div>
    <script src="/static/js/survey-navbar.js"></script>
    <script src="/static/js/admin-view-questions.js"></script>
</body>
</html>
