<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/admin-profile.css">
</head>
<body>
    <main>
        <div class="flex-container">
            <div class="flex-container row">
                <img src="" alt="ICON" id="profile-icon">
                <h2>Name</h2>
            </div>
            <button class="btn-prm-long left-align txt-m">Change Password</button>
            <button class="btn-prm-long left-align txt-m">Create Admin Account</button>
            <button class="btn-prm-long left-align txt-m">Log Out</button>
        </div>
    </main>
</body>
</html>