<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/admin-view-questions.css">
    <link rel="stylesheet" href="../css/nav-bar.css">
    <link rel="stylesheet" href="../css/side-bar.css">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <button onclick="toggleSidebar()">☰</button>
    <img src="../images/male_user.png" alt="Profile" width="30" height="30">
</div>

<!-- Sidebar and main content container -->
<div class="sidebar-container">
    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <a href="#">
            <img src="../images/home_icon.png" alt="Home Icon"> Home
        </a>
        <a href="#">
            <img src="../images/create_icon.png" alt="Create Icon"> Create
        </a>
        <a href="#" class="active">
            <img src="../images/view_icon.png" alt="View Icon"> View
        </a>
        <a href="#">
            <img src="../images/respondents_icon.png" alt="Respondents Icon"> Respondents
        </a>
        <a href="#">
            <img src="../images/male_user.png" alt="Profile Icon"> Profile
        </a>
    </nav>
    <!-- Main Content -->
    <main>
        <div class="tab-container">
            <ul class="tabs">
                <a href="admin-view-questions.html" class="active" onclick="openTab('questions')">Questions</a>
                <a href="admin-view-responses.html" onclick="openTab('responses')">Responses</a>
            </ul>
        </div>
        <div class="survey-container">
            <p>
                <strong>Date of publish:</strong> November 12, 2024<br>
                <strong>Available until:</strong> November 24, 2024<br>
                <strong>Respondents:</strong> 12/70
            </p>
            <div class="flex-container h-align-center" id="survey-form">
                <form action="" method="post" id="form">
                    <div class="flex-container h-align-center" id="title">
                    </div>
                </form> <!--I got this block of code from student-survey.html from geb's page-->
            </div>
        </div>
        <div>
            <button class="back-button" id="back_button">Back</button>
        </div>
    </main>
</div>
    <script src="../js/survey_creation_navbar.js"></script>
    <script>src="../js/admin-view-questions.js"</script>
</body>
</html>
