<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Responses</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin-view-responses.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
    <link rel="stylesheet" href="/static/css/side-bar.css">
     <!--Load the AJAX API-->
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <!-- Main Content -->
    <main>
        <!-- Sidebar and main content container -->
        <div class="sidebar-container">
            <div class="tab-container">
                <ul class="tabs">
                    <a id="questionsTab" onclick="openTab('questions')">Questions</a>
                    <a id="responsesTab" class="active"onclick="openTab('responses')">Responses</a>
                </ul>
            </div>
            <div class="x">
              <div class="form-closed-container">
                  <div class="form-closed-container-content">
                      <h1>responses data and etc</h1>
                      <p>You can fill out this form only once.</p>
                      <p>Try contacting the owner of the form if you think this is a mistake.</p>
                  </div>
              </div>
              <!--Div that will hold the pie chart-->
              <div id="charts-container"></div> 
          </div>
        </div>
    </main>
</body>
<script src="/static/js/admin-view-responses.js"></script>
</html>
