<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Admin Account</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin-profile-createacc.css">
    <link rel="stylesheet" href="/static/css/nav-bar.css">
    <link rel="stylesheet" href="/static/css/side-bar.css">
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <button onclick="toggleSidebar()">☰</button>
    <img src="/static/images/male_user.png" alt="Profile" width="30" height="30">
</div>

<!-- Sidebar and main content container -->
<div class="sidebar-container">
    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <a href="/admin">
            <img src="/static/images/home_icon.png" alt="Home Icon"> Home
        </a>
        <a href="/admin/create">
            <img src="/static/images/create_icon.png" alt="Create Icon"> Create
        </a>
        <a href="/admin/surveys">
            <img src="/static/images/view_icon.png" alt="View Icon"> View
        </a>
        <a href="/admin/respondents">
            <img src="/static/images/respondents_icon.png" alt="Respondents Icon"> Respondents
        </a>
        <a href="#" class="active">
            <img src="../images/male_user.png" alt="Profile Icon"> Profile
        </a>
    </nav>

    <main>
        <div class="flex-container row">
            <img src="/static/images/black-img.png" alt="ICON" id="profile-icon">
            <h2>Mark Lestat Agustin</h2>
        </div>
        <div class="flex-container">
            <div class="password-box">
                <h3>Create Admin Account</h3>
                <form action="/admin/profile" method="POST"> <!-- Redirect using POST -->
                    <label for="username" class="color-white">Username</label>
                    <input type="username" name="thisUsername" id="username" class="password-input" placeholder="Enter username" required>

                    <label for="password" class="color-white">Password</label>
                    <input type="password" name="thisPassword" id="password" class="password-input" placeholder="Enter password" required>

                    <label for="last_name" class="color-white">Last Name</label>
                    <input type="last_name" name="thisLast_name" id="last_name" class="password-input" placeholder="Enter Last Name" required>

                    <label for="given_name" class="color-white">Given Name</label>
                    <input type="given_name" name="thisGiven_name" id="given_name" class="password-input" placeholder="Enter Given Name" rqequried>

                </form>
                <div>
                    <button type="submit" class="create-button" id="create-button" onclick="callAPI()">Create</button>
                </div>
            </div>
            <a href="/admin/profile" class="back-btn">Back</a>
        </div>
    </main>
</div>
<script src="/static/js/admin-profile-createacc.js"></script>
</body>
</html>