<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respondents</title>

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/nav-bar.css" rel="stylesheet">
    <link href="/static/css/side-bar.css" rel="stylesheet">
    <link href="/static/css/respondents.css" rel="stylesheet">
    <script defer src="/static/js/side-bar.js"></script>
</head>
<body>
<!-- Navbar -->
<header class="navbar">
    <button aria-label="Toggle Sidebar" id="sidebarToggle">☰</button>
    <img alt="Profile" height="30" src="/static/images/male_user.png" width="30">
</header>

<!-- Sidebar -->
<div class="sidebar-container">
    <nav class="sidebar" id="sidebar">
        <a href="/admin">
            <img src="/static/images/home_icon.png" alt="Home Icon"> Home
        </a>
        <a href="/admin/create">
            <img src="/static/images/create_icon.png" alt="Create Icon"> Create
        </a>
        <a href="/admin/surveys">
            <img src="/static/images/view_icon.png" alt="View Icon"> View
        </a>
        <a href="/admin/respondents" class="active">
            <img src="/static/images/respondents_icon.png" alt="Respondents Icon"> Respondents
        </a>
        <a href="/admin/profile">
            <img src="/static/images/male_user.png" alt="Profile Icon"> Profile
        </a>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Search Bar -->
        <section class="search-bar">
            <label for="searchInput"></label><input id="searchInput" placeholder="Search" type="text">
            <button aria-label="Search Surveys" id="searchButton">
                <img src="/static/images/Search.png" alt="Search Icon">
            </button>
        </section>

        <!-- Response Analytics Section -->
        <div class="response-analytics">
            <h2>Response Analytics</h2>
            <!--This is where respondents.js should generate at-->
        </div>
    </div>
    <script src="/static/js/respondents.js" type="module"></script>
    <script defer src="/static/js/config.js" type="module"></script>
</div>
</body>
</html>
