<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Survey</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/nav-bar.css" rel="stylesheet">
  <link href="/static/css/survey-template.css" rel="stylesheet">
  <link href="/static/css/side-bar.css" rel="stylesheet">
  <script  defer src="/static/js/side-bar.js"></script>
</head>
<body>
<!--Navbar-->
<header class="navbar">
  <button aria-label="Toggle Sidebar" id="sidebarToggle">☰</button>
  <img alt="Profile" height="30" src="/static/images/male_user.png" width="30">
</header>

<!-- Sidebar and main content container -->
<div class="sidebar-container">
  <!-- Sidebar -->
  <nav class="sidebar" id="sidebar">
    <a href="/admin">
      <img src="/static/images/home_icon.png" alt="Home Icon"> Home
    </a>
    <a href="/admin/create">
      <img src="/static/images/create_icon.png" alt="Create Icon"> Create
    </a>
    <a href="/admin/surveys" class="active">
      <img src="/static/images/view_icon.png" alt="View Icon"> View
    </a>
    <a href="/admin/respondents">
      <img src="/static/images/respondents_icon.png" alt="Respondents Icon"> Respondents
    </a>
    <a href="/admin/profile">
      <img src="/static/images/male_user.png" alt="Profile Icon"> Profile
    </a>
  </nav>


  <!-- Main content -->
    <div class="main-content" id="mainContent">
      <!-- Survey templates section -->
      <h2>Survey Templates</h2>
      <div class="survey-templates">
        <div class="survey-template">
        <a href="/admin/survey/creation">
          <img src="/static/images/blank_survey.png" alt="Blank Survey">
        </a>


          <p>Blank Survey</p>
        </div>
        <div class="survey-template">
          <a href="/admin/survey/creation" ><img src="/static/images/form_template_1.png" alt="Survey Template"></a>
          <p>Survey Template</p>
        </div>
        <div class="survey-template">
          <a href="/admin/survey/creation" >
            <img src="/static/images/form_template_2.png" alt="Survey Template">
          </a>
          <p>Survey Template</p>
        </div>
        <div class="survey-template">
          <a href="/admin/survey/creation" >
            <img src="/static/images/form_template_3.png" alt="Survey Template">
          </a>
          <p>Survey Template</p>
        </div>
      </div>

      <!-- Recent surveys section -->
      <h2>Recents</h2>
      <div class="recent-surveys">
        <div class="recent-item">
          <button> <img src="/static/images/recent_form_1.png" alt="Survey Title"></button>
          <p class="bold">Survey Title</p>
        </div>
        <div class="recent-item">
          <button><img src="/static/images/recent_form_2.png" alt="Survey Title"></button>
          <p>Survey Title</p>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/survey-navbar.js"></script>
</body>
</html>