<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../css/nav_bar.css">
    <link rel="stylesheet" href="../css/survey_view.css">
    <link rel="stylesheet" href="../css/side_bar.css">
</head>
<body>
    <!-- Navbar-->
    <div class="navbar">
        <button onclick="toggleSidebar()">☰</button>
        <img src="../../resources/images/male_user.png" alt="Profile" width="30" height="30">
    </div>

    <!-- Sidebar and main content container -->
    <div class="sidebar-container">
        <!-- Sidebar -->
        <nav class="sidebar" id="sidebar">
            <a href="#">
                <img src="../../resources/images/home_icon.png" alt="Home Icon"> Home
            </a>
            <a href="#" class="active">
                <img src="../../resources/images/create_icon.png" alt="Create Icon"> Create
            </a>
            <a href="#">
                <img src="../../resources/images/view_icon.png" alt="View Icon"> View
            </a>
            <a href="#">
                <img src="../../resources/images/respondents_icon.png" alt="Respondents Icon"> Respondents
            </a>
            <a href="#">
                <img src="../../resources/images/male_user.png" alt="Profile Icon"> Profile
            </a>
        </nav>
    </div>
    <script src="../js/survey-creation-navbar.js"></script>
</body>
</html>