@font-face {
    font-family: "CustomFont";
    src: url("../../../php/public/resources/fonts/Istok_Web/IstokWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CustomFont";
    src: url("../../../php/public/resources/fonts/Istok_Web/IstokWeb-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "CustomFont", Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #223C6B;
    padding: 10px 20px;
    color: white;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #334A75;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
    gap: 10px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: #223C6B;
}

.sidebar img {
    width: 20px;
    height: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.survey-header-container,
.survey-details-container {
    margin-bottom: 20px;
}

.survey-header-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.survey-header-container p {
    font-size: 16px;
    color: #666;
}

.publish-button {
    padding: 10px 15px;
    background-color: #223C6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.publish-button:hover {
    background-color: #0c5ac0;
}

.survey-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.survey-details-container span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.survey-details-container input,
.survey-details-container select {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.survey-details-container .dropdown {
    background-color: #334A75;
    color: white;
}
