/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

/* Container for Sidebar and Content */
.container {
    display: flex;
}

/*Main Content*/
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-content.full-width {
    width: 100%;
}

.survey-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 5px auto;
    max-width: 90%;
    font-family: "CustomFont", sans-serif;
}

.survey-title {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #999;
    margin-bottom: 20px;
}

.survey-title h2[contenteditable="true"],
.survey-title p[contenteditable="true"] {
    outline: none;
}

/* Question container */
.question-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #aaa;
    position: relative;
}

.question-content {
    flex-grow: 1;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.question-header input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.question-header select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.options input[type="text"] {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.option-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #223C6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-button-other {
    display: inline-block;
    padding: 8px 12px;
    background-color: #223C6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-button:hover {
    background-color: #0c5ac0;
}

.publish-button, .back-button {
    padding: 10px 15px;
    font-size: 16px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #223C6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.publish-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s;
}

.back-button {
    position: fixed;
    bottom: 20px;
    transition: left 0.3s, background-color 0.3s;
}

.publish-button:hover, .back-button:hover {
    background-color: #0c5ac0;
}

.option-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    width: 50%;
}

.option-container input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.option-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.remove-button {
    background-color: #223C6B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
    height:auto;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.remove-button:hover {
    background-color: #c0392b;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.side-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.side-button {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.side-button:hover {
    background-color: #e0e0e0;
}

.editable-input {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    box-sizing: border-box;
}

.option-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.rating-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.true-false-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.disabled-input {
    width: 86%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

textarea {
    width: 86%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.rating-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.max-rating-select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.rating-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    width: 70px;
    height: auto;
}

.rating-container input[type="radio"] {
    accent-color: #6200ee;
    width: 18px;
    height: 18px;
    margin: 5px 0;
    cursor: pointer;
}
.rating-container .scale-text {
    font-size: 14px;
    color: #555;
    margin: 0 10px;
}
