/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

/* Container for Sidebar and Content */
.container {
    display: flex;
}

/* Main content area */
.content {
    width: 100%;
    padding: 50px;
    height: 100%;
    overflow-y: auto;
}
button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

body{
    margin: 0;
}

h2, p, a {
    color: black;
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
    height: 100vh;
    overflow-y: auto;

}

.main-content.full-width {
    width: 100%;

}

.survey-templates {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.survey-template img,
.recent-surveys .recent-item img  {
    width: 250px;
    height: 230px;
    object-fit: cover;
    border-radius: 4px;
}



.recent-surveys {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
  
  
  

  